<div class="card">

    <img class="card-img-top" src="{{ '/assets/img/projects/ctrl-shift.jpg' | absolute_url }}" alt="James McMichael's notebook">

    <div class="card-body">

        <h5 class="card-title">CTRL-Shift:<br>Writing practice at the dawn of the digital era</h5>
        <p class="card-text">CTRL-Shift is an online collection of audio recordings, transcripts, process visualizations, and data analyses broken out from interviews conducted with 11 prominent contemporary american poets from across the United States. The project examines recent changes in writing practices that occurred due to the advent of the computer and the arrival of the digital age and investigates new modes of working with and publishing data from qualitative interview studies. CDIL Director Devin Becker conducted the interviews in 2013 and 2014 as part of a UI Seed Grant award; MFA Candidates Corey Oglesby and Lauren Westerfield worked with Becker in the summer of 2017 to analyze and publish the data and findings online at ctrl-shift.org.</p>
        
        <div class="text-center">
            <a href="http://ctrl-shift.org/" class="btn" target="_blank">Visit the site</a>
        </div>

    </div>

</div>