<div class="card">

    <img class="card-img-top" src="{{ '/assets/img/projects/gayrodeo.jpg' | absolute_url }}" alt="Rodeo scene">

    <div class="card-body">

        <h5 class="card-title">Voices of Gay Rodeo</h5>

        <p class="card-text">Partnering with the International Gay Rodeo Association to collect and preserve people’s experiences as LGBTQ+ westerners, this oral history project seeks to protect endangered histories and relocate LGBTQ+ people back into the American West as people continue to build resilient communities.</p>
        
        <div class="text-center">
            <a href="http://voicesofgayrodeo.com/" class="btn" target="_blank">Visit the site</a>
        </div>

    </div>

</div>