<div class="card m-3">

    <img class="card-img-top" src="{{ '/assets/img/projects/HJCCC.jpg' | absolute_url }}" alt="HJCCC Tea Pot">

    <div class="card-body">

        <h5 class="card-title">Historical Japanese Ceramic Comparative Collection</h5>
        <p class="card-text">Historical Archaeology Ph.D. Candidate Renae Campbell developed a digital collection based on her thesis work as part of her 2018 CDIL Summer Graduate Fellow. The Historical Japanese Ceramic Comparative Collection (HJCCC) contains digital photographs and resources for identifying and describing Japanese ceramics manufactured during the Meiji and Taisho eras (roughly the nineteenth to early twentieth centuries). The intent of this collection is to provide archaeologists and other researchers with comparative examples of historical Japanese ceramics that are found on North American archaeological sites.</p>
        
        <div class="text-center">
            <a href="https://www.lib.uidaho.edu/digital/hjccc/" class="btn" target="_blank">Visit the site</a>
        </div>

    </div>

</div>