<div class="card">

    <img class="card-img-top" src="{{ '/assets/img/projects/syringa.jpg' | absolute_url }}" alt="Empty swimming pool at Syringa">

    <div class="card-body">

        <h5 class="card-title">Closure of Syringa:<br>A case study for issues surrounding mobile home parks</h5>
        <p class="card-text">2018 CDIL Undergraduate fellow Denessy Rodriguez ('19 Sociology & Anthropology) spent her fellowship developing a visual essay entitled "Closure of Syringa." This StoryMap powered essay details the closing of the Syringa Mobile Home park against a backdrop of national trends and data.</p>
            
        <div class="text-center">
            <a href="https://uidaho.maps.arcgis.com/apps/Cascade/index.html?appid=a459d05f5e2c4b5c9cd9e535e0c4afaa" class="btn" target="_blank">Visit the site</a>
        </div>

    </div>

</div>