<div class="card">

    <img class="card-img-top" src="{{ '/assets/img/projects/vpod.jpg' | absolute_url }}" alt="VPOD logo">

    <div class="card-body">

        <h5 class="card-title">Vandal Poem of the Day</h5>
        <p class="card-text">The Vandal Poem of the Day project publishes a poem every weekday from a renowned US publisher. The past four years have featured poems from Copper Canyon, BOA Editions, Persea Books, and <em>Poetry Northwest</em>. This Fall's publisher is Canarium Books.</p>
        
        <div class="text-center">
            <a href="http://poetry.lib.uidaho.edu" class="btn" target="_blank">Visit the site</a>
        </div>

    </div>

</div>