---
title: projects
layout: default
---

<div class="row">

    <div class="col-sm-4">
        {% include projects/gayrodeo.html %}
    </div>

    <div class="col-sm-4">
        {% include projects/ctrl-shift.html %}
    </div>

    <div class="col-sm-4">
        {% include projects/HJCCC.html %}
    </div>

</div>    

<div class="row">

    <div class="col-sm-4">
        {% include projects/vpod.html %}
    </div>

    <div class="col-sm-4">
        {% include projects/syringa.html %}
    </div>

</div>